html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.overdue {
    color: #FF0000; /* Text color for highlighting */
    font-weight: bold; /* Make text bold for emphasis */
}